header {
  padding: 7rem 9%;
}

.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url(../img/home-background.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 800px; /* Adjust the max-width as per your design */
  margin: 0 auto; /* Centers the content horizontally */
  padding: 0 20px; /* Adds padding to the sides */
}


.home .content h3 {
  font-size: 4rem;
  color: #333;
}

.home .content span {
  font-size: 2rem;
  color: lightcoral;
  padding: 1rem 0;
  line-height: 1.5;
}

.home .content p {
  font-size: 1rem;
  color: #000000;
  padding: 1rem 0;
  line-height: 1.5;
}
.heading {
  text-align: center;
  font-size: 4rem;
  color: #333;
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(255, 51, 153, 0.05);
}

.about{
  background: rgba(255, 51, 153, 0.05);
}

.heading span {
  color: pink;
}

.about .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap; /* Make sure content stays on one line */
  padding: 2rem 0;
  gap: 2rem;
}

.about .row .video-container {
  flex: 1 1 25rem;
  max-width: 25rem;
  position: relative;
}

.about .row .video-container video {
  width: 100%;
  border: 1.5rem solid #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  height: auto;
  object-fit: cover;
}

.about .row .content {
  flex: 1 1 40rem; /* Ensure both video and content have the same max-width */
  max-width: 40rem;
  padding-left: 2rem;
}

.about .row .content h3 {
  font-size: 2rem;
  color: #333;
}

.about .row .content p {
  font-size: 1rem;
  color: #999;
  padding: 0.5rem 0;
  line-height: 1.5;
}

/* Media Queries for responsiveness */
@media (max-width: 991px) {
  .about .row {
    flex-direction: column;
  }

  .about .row .video-container,
  .about .row .content {
    max-width: 100%;
    padding: 1rem 0;
  }

  .about .row .content {
    padding-left: 0;
  }
}


@media (max-width: 450px) {
  .heading {
    font-size: 3rem;
  }

  .about .row .content h3 {
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: pink;
}

.logo {
  font-size: 30px;
  font-weight: 800;
  color: aquamarine;
}

.navbar-nav .nav-item .nav-link {
  color: black;
  padding: 0 20px;
}

.navbar-toggler-icon {
  color: black;
}

.footer {
  background-color: pink;
  color: #fff;
  text-align: center;
  padding: 2px;
}

.footer p {
  padding-top: 15px;
}
